@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    var result = signInManager.IsSignedIn(User);

    if (result)
    {
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbr-right">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="nav-link text-dark" href="#">@userManager.GetUserName(User)</a>
                </li>
                <li>
                    <button class="btn btn-default navbar-btn navbar-link">Sair</button>
                </li>
            </ul>
        </form>
    }
    else if (!result)
    {
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Registrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
            </li>
        </ul>
    }
    else if (Model.SuccessButton)
    {
        @Html.Display("PasswordRedefinition");
    }
}




