@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Esqueci minha senha";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <h4>Entrar</h4>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Enviar</button>
</form>