@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
    <h4>Entrar</h4>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <label class="small" for="">
         <button class="btn btn-primary" type="submit">
            <a class="nav-link text-dark" 
                        asp-area="" 
                        asp-controller="Account" 
                        asp-action="ForgotPassword" 
                        type="submit">Enviar</a>
        </button>
    </label>
</form>