@model PasswordRedefinitionViewModel
@{
    ViewData["Title"] = "Redefinir Senha";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@{
    var modelValidate = Model.IsSuccess;
    var modelMessage = Model.Message;
    var model = Model;

    if (modelValidate)
    { 
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Entrar</h4>
        
            <div class="form-group">
                <label asp-for="ValidateCode"></label>
                <input asp-for="ValidateCode" class="form-control">
                <span asp-validation-for="ValidateCode" class="text-success"></span>
            </div>
        
            <button class="btn btn-primary" type="submit">Enviar</button>
        </form>

        if (model.ValidateCode == "SuccessValidate")
        {
            model.Message = "Código de recuperação de senha validado!";
        }
        else
        {
            model.Message = "Código de recuperação inválido!";
        }
    }
    else if (model.IsSuccess)
    {
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Entrar</h4>
        
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" class="form-control">
                <span asp-validation-for="NewPassword" class="text-success"></span>
                <span class="text-success">model.Message</span>
            </div>
        
            <div class="form-group">
                <label asp-for="ConfirmNewPassword"></label>
                <input asp-for="ConfirmNewPassword" class="form-control">
                <span asp-validation-for="ConfirmNewPassword" class="text-success"></span>
            </div>
        
            <button class="btn btn-primary" type="submit">Alterar senha</button>
        </form>
    }



}
