@model RegisterViewModel
@{
    ViewData["Title"] = "Registro";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Criar uma conta</h4>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control">
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            <button class="btn btn-primary" type="submit">Registrar</button>
        </form>
    </div>
</div>